
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
// @import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

// .navbar-laravel {
//   background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }



@tailwind base;

@tailwind components;

.btn-eleveted{
  @apply bg-white  text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow
}
.btn-elevete:hover{
  @apply bg-gray-100
}

.full-btn{
	@apply w-full
}

.divider{
	@apply border-teal-300;
	height: 0.02rem;
}


@tailwind utilities;